*{
   margin: 0px;
   padding: 0px;
}
body{
   background-color: rgb(25,225,25);
}
div.container{
   position: absolute;
   height: 100%;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-rows: 10vh 70vh 20vh;
   grid-gap: 10px;
   grid-template-areas: "h h" "a m" "a f"
}
.menu{
   grid-area: h;
   background-color: rgb(225,225,0);
}
.lista{
   grid-area: a;
   background-color: rgb(0,0,225);
}
.chat{
   grid-area: m;
   background-color: rgb(225,0,225);
}
.entrada{
   grid-area: f;
   background-color: rgb(225,225,225);
}
h1, h2 {
  font-family: Lato;
}